// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('#{$path--rel}/28775_10151295713132320_425495999_n.jpg'),
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
